# Dependencies
node_modules
.pnpm-debug.log

# Build
dist
.next
.turbo
out

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Electron
release
post-install.js
